    .bild {
        position: absolute; /**/
        top: 0; /**/
        left: 0; /**/
        width: 100%; /**/
        height: 100%; /**/
        display: none;
    }

    .bild img { /* chatGPT fix*/
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
        display: block;
    }

    .hero-slider {
        width: 80%;
        height: 70vh;
        margin: auto;
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
        box-shadow: 0px 4px 10px #00000033;

    }

    /* für Next und Previous Buttons */
    #prev {
        position: absolute;
        color: #dedede;
        top: 43%;
        left: 0;
        cursor: pointer;
        padding: 1rem;
        font-weight: bold;
        font-size: 1rem;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
    }

    #next {
        position: absolute;
        top: 43%;
        right: 0;
        cursor: pointer;
        padding: 1rem;
        color: #dedede;
        font-weight: bold;
        font-size: 1rem;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
    }

    #prev:hover,
    #next:hover {
        background: rgba(250, 249, 249, 0.631);
        color: rgb(19, 19, 19);
    }

    .dots {
        text-align: center;
        margin-top: 10px;
        position: relative;
    }

    .dot {
        display: inline-block;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        transition: background-color 0.6s ease;
    }

    .active {
        background-color: #555555;
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    @media(max-width:45rem) {
        .hero-slider {
            max-height: 300px;
            width: 95%;
        }
    }