/* Dark Mode */

#darkModeToggle i {
    transition: color 0.3s ease, transform 0.3s ease;
}

#darkModeToggle:hover {
    color: var(--hover-color);
    transform: scale(1.2);
}

body.dark-mode {
    --bg-color: #121212;
    --text-color: #e6e5e0;
    --nav-bg: #2c2c2c;
    --accent-color: #224c89;
    --top-bar-bg: #2e3d80;
    --hover-color: #8e7680;
}

body.dark-mode {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Header + Nav */
body.dark-mode .topBar {
    background-color: var(--accent-color);
}

body.dark-mode #mainNav {
    background-color: var(--nav-bg);
}

body.dark-mode .main-nav {
    background-color: var(--nav-bg);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.15);

}

body.dark-mode .hamburger span {
    background-color: var(--text-color);
}

body.dark-mode .nav-list a {
    color: var(--text-color);
}

body.dark-mode h1 {
    color: var(--accent-color);
}

/* Footer */
body.dark-mode footer {
    background-color: var(--top-bar-bg);
    color: var(--text-color);
}

/* Search bar */
body.dark-mode #search-bar {
    background-color: var(--nav-bg);
    border: 1px solid #555;
    color: var(--text-color);
}

body.dark-mode #search-bar::placeholder {
    color: #aaa;
}

/* Product grid cards */
body.dark-mode .figure img {
    box-shadow: 1px 4px 8px #00000080;
    border: 1px solid var(--nav-bg);
}